@model IEnumerable<StudentViewModel>

@{ ViewData["Title"] = "Index"; }

<h1>Student</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().FullName"></label>
            </th>
            <th>
                <label asp-for="First().GroupName"></label>
            </th>
            <th>
                <label asp-for="First().PhoneNumber"></label>
            </th>
            <th>
                <label asp-for="First().RecordNumber"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.GroupName
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.RecordNumber
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                </td>
            </tr>
        }
    </tbody>
</table>