@model IEnumerable<StatementViewModel>

@{ ViewData["Title"] = "Index"; }

<h1>Statement</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().StudentFullName"></label>
            </th>
            <th>
                <label asp-for="First().SubjectName"></label>
            </th>
            <th>
                <label asp-for="First().SemesterNumber"></label>
            </th>
            <th>
                <label asp-for="First().TypeOfSertification"></label>
            </th>
            <th>
                <label asp-for="First().Mark"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.StudentFullName
                </td>
                <td>
                    @item.SubjectName
                </td>
                <td>
                    @item.SemesterNumber
                </td>
                <td>
                    @item.TypeOfSertification
                </td>
                <td>
                    @item.Mark
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                </td>
            </tr>
        }
    </tbody>
</table>